// fondo de las paginas 
body {
    background-image: url("../assets/img/Fondo.jpg");
    background-color: $color-alternativo;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}